<footer class="footer_dark">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="footer_logo">
                            <a href="#">
                                <h2>Green House</h2>
                            </a>
                        </div>
                        <p > Retrouvez tous les plantes et les informations, etc... </p>
                    </div>
                    <div class="widget">
                        <ul class="social_icons social_white">
                            <li>
                                <a target="_blank" href="https://facebook.com">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>
                            <li></li>
                            <li></li>
                            <li>
                                <a target="_blank" href="https://www.youtube.com/">
                                    <i class="ion-social-youtube-outline"></i>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.instagram.com/exemple_formation/">
                                    <i class="ion-social-instagram-outline"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-3 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Liens utiles</h6>
                        <ul  class="widget_links">
                            <li >
                                <a href="/page/a-propos-de-nous-greenHouse">A Propos de nous</a></li>
                            <li >
                                <a href="/page/nos-services-greenHouse">Nos services</a></li>
                            <li >
                                <a href="/page/contactez-nous-category">Contactez-Nous</a></li>
                            <li >
                                <a href="/page/mentions-lgales-greenHouse">Mentions légales</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-3 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Categories</h6>
                        <ul  class="widget_links">
                            <li ><a  href="#">Men</a></li>
                            <li ><a  href="#">Woman</a></li>
                            <li ><a  href="#">Kids</a></li>
                            <li ><a  href="#">Best Saller</a></li>
                            <li ><a  href="#">New Arrivals</a></li>
                        </ul>
                    </div>
                </div>
                <div  class="col-lg-2 col-md-6 col-sm-6">
                    <div  class="widget">
                        <h6  class="widget_title">Mon compte</h6>
                        <ul  class="widget_links">
                            <li ><a href="/account">Mon compte</a></li>
                            <li ><a href="/terms">Terms</a></li>
                            <li ><a href="/signin">Se connecter</a></li>
                            <li ><a href="/signup">S'inscrire</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Contact Info</h6>
                        <ul class="contact_info contact_info_light">
                            <li>
                                <i class="ti-location-pin"></i>
                                <p>2 rue Irène jolio Curie 31520 RAMONVILLE</p>
                            </li>
                            <li>
                                <i class="ti-email"></i>
                                <a href="mailto:contact@adrar-numerique.com">contact@adrar-numerique.com</a>
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                                <p>05 62 19 20 80</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div  class="bottom_footer border-top-tran">
        <div  class="container">
            <div  class="row">
                <div  class="col-md-6">
                    <p  class="mb-md-0 text-center text-md-start"> © 2024 All Rights
                        Reserved by Cours Informatiques Adrar</p>
                </div>
            </div>
        </div>
    </div>
</footer>